@inject AuthenticatedUserService UserService
@inject AuthenticationStateProvider AuthProvider
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
    <!--
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
-->
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {

    protected override async Task OnInitializedAsync()
    {
        await UserService.InitializeAsync();
        (AuthProvider as SteamAuthProvider)?.NotifyUserChanged();
/*
        ((CustomAuthStateProvider)AuthenticationStateProvider)
            .AuthenticateUser(userIdentifier);
  */
        await base.OnInitializedAsync();
    }

}