@page "/gaming/{Id:long}"
@using Humanizer
@using Ludus.Client.Utilties
@using Ludus.Shared

<MudContainer MaxWidth="MaxWidth.ExtraLarge">
    @if (GameDetail is not null)
    {
        <MudGrid>
            <!-- Left Column -->
            <MudItem xs="12" md="3">
                <MudStack Spacing="4">
                    <MudImage Src="@ImageHelper.GetImageUrl(GameDetail.Game.Cover.ImageId, ImageHelper.ImageSize.HD1080)"
                              Alt="Game Cover" ObjectFit="ObjectFit.Cover" Class="rounded-lg"/>

                    <MudPaper Class="pa-4 rounded-lg" Style="background: var(--mud-palette-background-gray)"
                              Elevation="0">
                        <MudText Typo="Typo.h6" Class="mb-4">Your History</MudText>
                        <MudStack Spacing="1">
                            <MudStack Row="true" Justify="Justify.SpaceBetween">
                                <MudText>Started:</MudText>
                                <MudText>Aug 12, 2024</MudText>
                            </MudStack>

                            <MudStack Row="true" Justify="Justify.SpaceBetween">
                                <MudText>Ended:</MudText>
                                <MudText>Aug 17, 2024</MudText>
                            </MudStack>

                            <MudStack Row="true" Justify="Justify.SpaceBetween">
                                <MudText>Progress:</MudText>
                                <MudText>0%</MudText>
                            </MudStack>
                        </MudStack>
                    </MudPaper>

                    <MudExpansionPanels Elevation="0" Class="rounded-lg">
                        <MudExpansionPanel Expanded="true" Text="Status"
                                           Style="background: var(--mud-palette-background-gray)">
                            <MudGrid>
                                <MudItem xs="12">
                                    <MudSelect Dense="true" Value="@EditModel.Status"
                                               ValueChanged="HandleStatusSelectedValueChanged" Variant="Variant.Text"
                                               T="int">
                                        <MudSelectItem T="int" Value="0">Not Started</MudSelectItem>
                                        <MudSelectItem T="int" Value="1">In Progress</MudSelectItem>
                                        <MudSelectItem T="int" Value="2">Completed</MudSelectItem>
                                        <MudSelectItem T="int" Value="3">Abandoned</MudSelectItem>
                                        <MudSelectItem T="int" Value="4">None</MudSelectItem>
                                    </MudSelect>
                                </MudItem>


                                <MudItem xs="12">
                                    <MudDatePicker Label="Started" ReadOnly="@GameNotStarted" @bind-Date="_startDate"/>
                                    <MudDatePicker Label="Finished" ReadOnly="@GameNotStarted" @bind-Date="_endDate"/>
                                </MudItem>

                                <MudItem xs="12">
                                    <MudTextField Label="Notes" T="string" Lines="2" MaxLines="4"
                                                  Variant="Variant.Filled">

                                    </MudTextField>
                                </MudItem>
                            </MudGrid>
                        </MudExpansionPanel>
                    </MudExpansionPanels>


                    <MudPaper Class="pa-4 rounded-lg" Style="background: var(--mud-palette-background-gray)"
                              Elevation="0">
                        <MudText Typo="Typo.h6">Details</MudText>
                        <MudStack Spacing="0">
                            <MudText><b>Format:</b> @GameDetail?.Game.GameType.Type</MudText>
                            <MudText><b>Release
                                    Date:</b> @DateTimeOffset.FromUnixTimeSeconds(GameDetail.Game.FirstReleaseDate).ToLocalTime().ToString("MM/dd/yyyy")
                            </MudText>
                        </MudStack>
                        <MudDivider DividerType="DividerType.Middle" Class="my-2"></MudDivider>
                        <MudText Typo="Typo.h6">Themes</MudText>
                        <MudStack Spacing="0">
                            @foreach (var theme in GameDetail.Game.Themes)
                            {
                                <MudText>@theme.Name</MudText>
                            }
                        </MudStack>
                        <MudDivider DividerType="DividerType.Middle" Class="my-2"></MudDivider>

                        <MudStack Spacing="0">
                            <MudText Typo="Typo.h6">Platforms</MudText>
                            <div class="d-flex flex-wrap">
                                @foreach (var platform in GameDetail.Game.Platforms)
                                {
                                    <MudTooltip Text="@platform.Name">
                                        <MudIcon Size="Size.Medium" Icon="@platform.Name.GetLogoFromName()"></MudIcon>
                                    </MudTooltip>
                                }
                            </div>
                        </MudStack>
                    </MudPaper>
                </MudStack>

            </MudItem>

            <!-- Right Column -->
            <MudItem xs="12" md="9">
                <MudPaper Class="pa-4 rounded-lg mb-4" Style="background: var(--mud-palette-background-gray)"
                          Elevation="0">
                    <MudText Typo="Typo.h4">@GameDetail.Game.Name</MudText>
                    <MudChipSet T="Color">
                        @foreach (var genre in GameDetail.Game.Genres)
                        {
                            <MudChip Color="Color.Primary">@genre.Name</MudChip>
                        }
                    </MudChipSet>


                    <MudText Class="mt-4">@GameDetail.Game.Summary</MudText>

                    <MudDivider Class="my-4" DividerType="DividerType.Middle"/>

                    <MudStack Justify="Justify.FlexStart" Row="true">
                        <MudPaper Class="pa-3 rounded-lg" Elevation="0">
                            <MudText Typo="Typo.body2">IGDB Score</MudText>

                        </MudPaper>


                        <MudPaper Class="pa-3 rounded-lg"  Elevation="0" @onclick="@ToggleRatingOpenOpen">
        
                            @if (Collection?.Rating is not null)
                            {
                                <MudText Typo="Typo.body2">Your score</MudText>
                            }
                            <MudStack Spacing="1" Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
                                @if (Collection?.Rating is null)
                                {
                                    <MudText Typo="Typo.caption">No rating</MudText>
                                }
                                else
                                {
                                    <MudIcon Icon="@Icons.Material.Filled.Star"></MudIcon>

                                    <MudText Typo="Typo.body2">@Collection?.Rating / 5</MudText>
                                }
                            </MudStack>
                            <MudText Typo="Typo.body2">Click to rate</MudText>
      
                        </MudPaper>
                        <MudPopover  Open="@_ratingOpen" AnchorOrigin="Origin.BottomLeft" Class="px-4 pt-4">
                            <MudStack AlignItems="AlignItems.Center">
                                <MudText>@LabelText</MudText>
                                <MudRating
                                    Class="d-flex align-center justify-center mud-width-full py-2"
                                    SelectedValue="@(EditModel.Rating ?? 0)"
                                    MaxValue="5"
                                    HoveredValueChanged="@(val => activeVal = val)"
                                    SelectedValueChanged="HandleSelectedValueChanged"/>
                            </MudStack>

                        </MudPopover>
                    </MudStack>

                </MudPaper>

                <MudPaper Class="pa-4 rounded-lg" Style="background: var(--mud-palette-background-gray)" Elevation="0">
                    <MudText Typo="Typo.h6" Class="mb-4">Recommendations</MudText>
                    <MudGrid>
                        @foreach(var sm in GameDetail.SimilarGames)
                        {
                            <MudItem xs="12" sm="6" md="4" lg="3" xl="2">
                                <MudCard @onclick="() => NavigateToGame(sm.Id)" Class="rounded-lg cursor-pointer" Elevation="0" Style="height: 100%">
                                    <MudCardMedia Image="@ImageHelper.GetImageUrl(sm.CoverImageId, ImageHelper.ImageSize.HD1080)" Height="225" Class="object-cover"/>
                                    <MudCardContent>
                                        <MudText Typo="Typo.body2">@sm.Name</MudText>
                                    </MudCardContent>
                                </MudCard>
                            </MudItem>
                        }
                    </MudGrid>
                </MudPaper>

            </MudItem>
        </MudGrid>
    }
    else
    {
    }

</MudContainer>