@page "/"
@using Ludus.Client.Features.Games.Components

<PageTitle>Home</PageTitle>

<MudContainer Class="mt-8" MaxWidth="MaxWidth.ExtraExtraLarge">
    <div class="d-flex gap-8">
        <MudStack Class="d-flex flex-column" Style="width: 20%; min-width: 15%">
            <MudPaper Class="d-flex flex-column rounded-lg" Outlined="false" Elevation="0"
                      Style="height: fit-content; background: var(--mud-palette-background-gray)">
                <MudStack Row="true">
                    <MudButton OnClick="OnExpandCollapseClick"
                               Class="ml-auto">@(_expanded ? "Collapse" : "Expand")</MudButton>
                </MudStack>
                <MudCollapse Expanded="_expanded">
                    <MudList T="string" @bind-SelectedValues="SelectedValues"
                             SelectionMode="SelectionMode.MultiSelection"
                             ReadOnly="@ReadOnly" CheckBoxColor="Color.Tertiary">
                        <MudListSubheader>
                            <MudTextField @bind-Value="TextValue" Label="Search" Variant="Variant.Outlined"
                                          Margin="Margin.Dense"></MudTextField>
                        </MudListSubheader>
                        <MudListItem Text="Milk"/>
                        <MudListItem Text="Sparkling Water" Value='"Carbonated H²O"'/>
                    </MudList>
                </MudCollapse>
            </MudPaper>

            <MudPaper Class="d-flex flex-column rounded-lg" Outlined="false" Elevation="0"
                      Style="height: fit-content; background: var(--mud-palette-background-gray)">
                <MudStack Row="true">
                    <MudButton OnClick="OnExpandCollapseClick"
                               Class="ml-auto">@(_expanded ? "Collapse" : "Expand")</MudButton>
                </MudStack>
                <MudCollapse Expanded="_expanded">
                    <MudList T="string" @bind-SelectedValues="SelectedValues"
                             SelectionMode="SelectionMode.MultiSelection"
                             ReadOnly="@ReadOnly" CheckBoxColor="Color.Tertiary">
                        <MudListSubheader>
                            <MudTextField @bind-Value="TextValue" Label="Search" Variant="Variant.Outlined"
                                          Margin="Margin.Dense"></MudTextField>
                        </MudListSubheader>
                        <MudListItem Text="Milk"/>
                        <MudListItem Text="Sparkling Water" Value='"Carbonated H²O"'/>
                    </MudList>
                </MudCollapse>
            </MudPaper>
        </MudStack>


        <MudPaper Class="d-flex pa-4" Width="80%" Elevation="0">
            <MudGrid Justify="Justify.FlexStart" Spacing="4">
                @if (RatedGames.Games is not null)
                {
                    @foreach (var game in RatedGames.Games)
                    {
                        <MudItem xs="12" md="4" lg="3" xl="2">
                            <GameCard Game="@game"/>
                        </MudItem>
                    }

                    <MudItem xs="12" Class="d-flex justify-center">
                        <MudButton FullWidth="true" Variant="Variant.Filled" DropShadow="false" Color="Color.Primary"
                                   Size="Size.Large" Class="mt-4">
                            Load more
                        </MudButton>
                    </MudItem>
                }
                else
                {
                    @for (int i = 0; i < _papers; i++)
                    {
                        <MudItem xs="3">
                            <MudCard Elevation="0" Class="rounded-lg"
                                     Style="background: var(--mud-palette-background-gray); height: 100%">
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px"/>
                                <MudCardContent>
                                    <MudSkeleton Width="30%" Height="42px;"/>
                                    <MudSkeleton Width="80%"/>
                                    <MudSkeleton Width="100%"/>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudSkeleton Width="64px" Height="40px" Class="ml-2"/>
                                    <MudSkeleton Width="105px" Height="40px" Class="ml-3"/>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    }
                }

            </MudGrid>
        </MudPaper>

    </div>
</MudContainer>

<!--
<AuthorizeView>
    <NotAuthorized>
        <a href="/signin">
            <img src="/img/sits_small.png"/>
        </a>
    </NotAuthorized>
    
    <Authorized>
        @context.User.FindFirst(ClaimTypes.NameIdentifier).Value

        <a href="/logout">Sign Out</a>
    </Authorized>
</AuthorizeView>
-->