@using System.Security.Claims
@inherits LayoutComponentBase

<MudThemeProvider Theme="@_theme" IsDarkMode="_isDarkMode"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudTypographyProvider/>
<MudLayout>
    <!--
    <MudAppBar Elevation="0" Color="Color.Primary">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())"/>
        <MudText Typo="Typo.h5" Class="ml-3">Application</MudText>
        <MudSpacer/>
        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="Color.Inherit" OnClick="@DarkModeToggle"/>
        <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End"/>
    </MudAppBar>
    -->
    <MudDrawer Anchor="Anchor.Left" @bind-open="@_drawerOpen" Variant="DrawerVariant.Persistent">
        <MudStack Class="mud-height-full">
            <MudText Typo="Typo.h5" Class="pa-2 my-4">🔥 Your Logo</MudText>
            
            <NavMenu/>
            
            <MudDivider DividerType="DividerType.Middle"/>
            
            <LuMenu/>

            <MudSpacer/>
            <MudDivider DividerType="DividerType.Middle"/>
            <MudPaper Class="pa-2" Elevation="0">
                
                <AuthorizeView>
                    <NotAuthorized>
                        <a href="/signin">
                            <img src="/img/sits_small.png"/>
                        </a>
                    </NotAuthorized>
    
                    <Authorized>
                        @if (UserService.User is not null)
                        {
                            <MudStack Row="true">
                                <MudAvatar Size="Size.Large" Rounded="true">
                                <!--
                                    <MudImage Src="@GetImageSrc(@UserService.User.UserImage.ContentType, UserService.User.UserImage.Content)"></MudImage>
                                -->
                                </MudAvatar>
                                <MudStack Justify="Justify.Center" Spacing="0">
                                    <MudText Typo="Typo.body1">@UserService.User.Name</MudText>
                                    <MudLink Href="/logout">Logout</MudLink>
                                    <!--
                                <MudText Typo="Typo.body2">Logout</MudText>
                            -->
                                </MudStack>
                            </MudStack>
                        }

                    <!--
                        @context.User.FindFirst(ClaimTypes.NameIdentifier).Value

                        <a href="/logout">Sign Out</a>
-->
                    </Authorized>
                </AuthorizeView>
                

            </MudPaper>
        </MudStack>
    </MudDrawer>
    
    <MudMainContent Class="pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
